.Protofolio{
    width: 100%;
    height: 400px;
    display: flex;    
    flex-direction: column;
    gap: 10px;
}
.swipper{
    width: 100%;
    height: 300px;
    display: grid;
    place-items: center;
}
.swiper-img{
    width: 50%;
    height: 80%;
    overflow: hidden;
    display: flex;
}
.radio{
    height: 20%;
    gap: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.swiper-img div{
    width: 100%;
    
    margin: 10px;
}
.swiper-img img{
    width: 100%;
    height: 100%;
}
.swipper .btns{
    padding: 10px;
    height: 40px;
    border-radius: 34px;
    font-size: 20px;
    font-weight: bold;
    border: none;
    color: #fff;
    transition: 0.5s;
    background:linear-gradient(180deg,#fdc50f 25.71%,#fb982f 99.36%) ;
    box-shadow: 0px 29px 26px 4px rgba(251,161,40,0.42);
    cursor: pointer;
}
.Protofolio h1{
    color: #fdc50f;
}
@media (max-width:426px) {
    .Protofolio{
        width: 100%;
        height: 350px;
        display: flex;
        
    }
    .Protofolio .swiper-img {
        width: 100%;
    }
    .Protofolio .swipper{
        width: 100%;
        overflow: hidden;
    }
    .Protofolio .swiper-img img{
        object-fit: cover;
        width: 400px;
    }
}